@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-festival {
    @include m.contenedor;
    
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5rem;
    }
}

.contenido-festival {
    margin-top: 5rem;

    h2 {
        margin-bottom: v.$verde;
    }
    .fecha {
        color: v.$verde;
        font-weight: bold;
    }
}